.header {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}

.logo-container{
  height: 100px;
  padding-left: 10px;
  
}
.logo{
  object-fit: cover;
height: inherit;
}

.nav-items ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
}

.nav-items ul li {
  padding: 20px;

  font-size: 20px;
  font-weight: 600;
}

.body {
  margin-left: 8vw;
}

.res-card {
   position: relative;
   height: 350px;
  width: 20vw;
  background-color: rgba(234, 205, 205, 0.158);
  
  margin-top: 20px;
 
  
}

.res-card:hover{
    border: 2px solid greenyellow;
}

.search {
  margin-top: 20px;
}

.search input {
  width: 50vw;
  height: 7vh;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: large;
  font-weight: 600;
}

.res-card img{
   width: 18vw;
   height: 50%;
   padding-left: 12px;
   padding-top: 5px;
object-fit: cover;
  
}

.res-card h4{
    padding-left: 5px;
    
}
.info{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10vh;
    position:absolute;
   gap: 20px;
}

.info h5{
  right: 0%;
  font-weight: 600;
  color: darkgrey;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
